extends layout

block externalcss
  style.



block content
  h1= title
  p Welcome to #{title}
  a(href='/') Home
  br
  a(href='/login') Login
  br
  form#sign-up-form
    input#sign-up-mail(type='email' label='mail' placeholder='xxxx@xxx.xxx' autofocus required)
    br
    input#sign-up-pass(type='password' label='password' placeholder='********' required)
    br
    button(type='submit') Registrarse
    br
    button(type='button') registrarse con Gmail 
  
  script(src="../routes/createAccount.js") 
  //script( type = "text/javascript",src="../routes/createAccount.js") 
  //script(type = "text/javascript", src=&quot;../../javascript/createAccLogic.js&quot;)
  
