extends layout

block content
  h1= title
  p Welcome to #{title}
  a(href='/') Home
  br
  a(href='/login') Login
  br
  form
    input(type='text' label='Name')
    br
    input(type='text' label='Password')
    br
    button(type='button') Crear cuenta
  
