extends layout

block content
  #centerInd
    h1= title
    br
    p Bienvenido a #{title}
  
    
    a(href='/login') Iniciar Sesión
    
    a(href='/createAccount') Crear una cuenta
  
  

  script(type='module' src='../src/index')
  //script(src='https://code.jquery.com/jquery-3.6.0.min.js' integrity='sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=' crossorigin='anonymous')
  //script(src='javascripts/map.js')
