extends layout

block externalcss
  style.


block content
  h1= title
  p Welcome to #{title}
  a(href='/login') Log-in
  br
  a(href='/createAccount') Create an account
  br
  br
  

  script(type='module' src='../src/index')
  //script(src='https://code.jquery.com/jquery-3.6.0.min.js' integrity='sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=' crossorigin='anonymous')
  //script(src='javascripts/map.js')
