doctype html
html
  head
    title= title
    style 
      include ../node_modules/bootstrap/dist/css/bootstrap.min.css
      include ../public/stylesheets/style.css
    script 
      include ../node_modules/bootstrap/dist/js/bootstrap.min.js
    block cssleaflet
  body
    block content