extends layout

block externalcss
  style.



block content
  #centerInd
    h1= title
  #bl1Log
    #genLog1
      a(href='/') Regresar a la página principal
    br
    
    form
      #genLog1
        label(for="user")='Usuario: '
        input(type='text' label='Name')
      br
      #genLog1
        label(for="user")='Contraseña: '
        input(type='text' label='Password')
      br
      #genLog1
        button(type='button') Click Me!
  
  br
  #aLog
    a(href='/createAccount') Crear una cuenta nueva
    a(href='admin_salesman/') admin_salesman index 
  
