extends layout

block externalcss
  style.



block content
  h1= title
  p Welcome to #{title}
  a(href='/') Home
  br
  a(href='/createAccount') Create an account
  br
  form#sign-in-form
    input#sign-in-mail(type='email' label='correo' placeholder='xxxx@xxx.xxx' autfocus required)
    br
    input#sign-in-pass(type='password' label='password' placeholder='********' required)
    br
    button(type='submit') Log-in
  br
  a(href='/shops') Check out our shops

  //script(src="routes/login.js") 
  
