extends layout

block content
  #centerInd2
    h1= title
  #bl1Log
    
    form
      #editForm
        #genLog1
          label.form-label2(for="user")='Usuario '
          input.form-control(type='text' label='Name')
        br
        #genLog1
          label.form-label2(for="user")='Contraseña '
          input.form-control(type='text' label='Password')
        br
        #genLog1
          button.btn.btn-primary(type='button') Inicia Sesion
  
  br
  #aLog
    a(href='/createAccount') Crear una cuenta nueva
    a(href='admin_salesman/inventory') admin_salesman index 
  
