extends layout

block content
  nav.navbar.mb-4.navbar-custom
        .derecha
            a(href='/clientes')
                img(src='../assets/logoC.png')
            a.navbar-brand(href='/clientes') Inicio
            a.navbar-brand(href='/clientes/ropa-hombre') Hombre
            a.navbar-brand(href='/clientes/ropa-mujer') Mujer
            a.navbar-brand(href='/clientes/visit-us') Visítanos
            a.navbar-brand(href='/clientes/about-us') Quiénes somos
        .izquierda 
            a.navbar-brand(href='/login') Iniciar sesión
  #centerInd2
    h1= title
  #bl1Log
    
    form
      #editForm
        #genLog1
          label.form-label2(for="user")='Usuario '
          input.form-control(type='text' label='Name')
        br
        #genLog1
          label.form-label2(for="user")='Contraseña '
          input.form-control(type='text' label='Password')
        br
        #genLog1
          button.btn.btn-primary(type='button') Inicia Sesion
  #aLog
    a(href='admin_salesman/inventory') servicios_superAdmin 
  
