extends layout

block content
  #centerInd
    h1= title
  #bl1Log
    #genLog1
      a(href='/') Regresar a la página principal
    br
    
    form
      #editForm
        #genLog1
          label.text-left(for="user")='Usuario: '
          input.form-control(type='text' label='Name')
        br
        #genLog1
          label(for="user")='Contraseña: '
          input.form-control(type='text' label='Password')
        br
        #genLog1
          button.btn.btn-primary(type='button') Inicia Sesion
  
  br
  #aLog
    a(href='/createAccount') Crear una cuenta nueva
    a(href='admin_salesman/inventory/') admin_salesman index 
  
