body {
    
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgb(228, 228, 228);
  /*background-image: url("../../assets/clouds_png.png")*/
}

table th, table td{
  border: 1px groove rgb(65, 52, 180);
  padding: 8px;
  
}

#table{
  display: flex;
  justify-content: center;
  align-items: center;
}

table th{
  color:antiquewhite;
  background-color: #5F53CF;
  font-size: 22px;
}

.table-hover{
  margin-left: 20px;
  margin-right: 20px;
}

.table-hover thead{
  background-color: #5F53CF;
}

table td{
  font-size: 20px;
  vertical-align: middle;
}

td a{
  color:#47366b !important;
  font-weight: bold;
  text-decoration: none;  
}


#centerInd, #centerInd2{
  font-size: 18px;
  display: flex;
  justify-content:center;
  align-items: center;
  flex-direction: column;
  color: #5F53CF;
  letter-spacing: 2px;
}

#centerInd2{
  margin-top: 100px;
  margin-bottom: 30px;
}

#centerInd h2{
  margin-bottom: 30px;
}

#spreadInd, #aLog{
  margin-top: 100px;
  font-size: 25px;
  color: #fff !important;
  text-decoration: none;
  display: flex;
  justify-content: space-around;
}

.form-label2{
  font-size: 20px;
  margin-right: 0px !important;
}

#spreadLess, #spreadLess2{
  margin-top: 20px;
  font-size: 25px;
  color: #fff !important;
  text-decoration: none;
  display: flex;
  justify-content: space-around;
}

#spreadLess2{
  justify-content: space-between;
}

#genLog1{
  margin-top: 20px;
  font-size: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: left;

}

#editForm{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px;
  padding-top: 0px;
  background-color: rgb(207, 207, 207);
  border-radius: 5px;
}

#genLog1 label{
  margin-right: 15px;
  margin-bottom: 10px;
  margin-top: 20px;
}

#genLog1 button{
  margin-top: 15px;
}

a{
  color: #fff !important;
  font-size: 17px !important;
}

#table{
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

#table table{
  border: groove;
  color: #6f42c1;
  text-align: center;
}

.navbar-custom{
  background-color: #5F53CF;
  display: flex;
  justify-content:space-between;
  padding-left: 35px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 0px !important;
}

.navbar-custom2{
  background-color: #f7f7f7;
  display: flex;
  justify-content:space-between;
  padding-left: 35px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.navbar-brand{
  padding-left: 23px;
  padding-right: 23px;
  border-radius: 5px;
  padding-top: 15px;
  padding-bottom: 15px;
  transition-duration: 0.4s;
}

.navbar-brand2{
  margin-right: 20px;
  padding-left: 18px;
  padding-right: 18px;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #47366b !important;
  text-decoration: none;
  transition-duration: 0.4s;
}

.btn-primary{
  background-color: #5F53CF;
  border-color: #5F53CF;
}

.navbar-brand:hover{
  background-color: #7a70cf;
}

.navbar-brand2:hover{
  background-color: #e2e2e2;
}

.derecha{
  margin-top: 4px;
  margin-bottom: 4px;
}

.active{
  background-color: #7a70cf;
}

.active2{
  background-color: #e2e2e2;
}

form{
  display: flex;
  justify-content: center;
}