body {
    
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgb(228, 228, 228);
  /*background-image: url("../../assets/clouds_png.png")*/
}

table th, table td{
  border: 1px groove rgb(65, 52, 180);
  padding: 8px;
  
}

#table{
  display: flex;
  justify-content: center;
  align-items: center;
}

table th{
  color:antiquewhite;
  background-color: #5F53CF;
  font-size: 22px;
}

.table-hover{
  margin-left: 20px;
  margin-right: 20px;
}

.table-hover thead{
  background-color: #5F53CF;
}

table td{
  font-size: 20px;
  vertical-align: middle;
}

td a{
  color:#47366b !important;
  font-weight: bold;
  text-decoration: none;  
}


#centerInd, #centerInd2, #centerInd3{
  margin-top: 80px;
  font-size: 18px;
  display: flex;
  justify-content:center;
  align-items: center;
  flex-direction: column;
  color: #5F53CF;
  letter-spacing: 2px;
}

#centerInd2{
  margin-top: 100px;
  margin-bottom: 30px;
}

#centerInd3{
  margin-top: 160px;
}

#centerInd h2{
  margin-bottom: 30px;
}

#aLog{
  margin-top: 70px;
  font-size: 25px;
  color: rgb(80, 71, 243) !important;
  text-decoration: none;
  display: flex;
  justify-content: space-around;
}

.form-label2{
  font-size: 20px;
  margin-right: 0px !important;
}



#spreadLess, #spreadLess2{
  margin-top: 20px;
  font-size: 25px;
  color: #fff !important;
  text-decoration: none;
  display: flex;
  justify-content: space-around;
}

#spreadLess2{
  justify-content: space-between;
}

#genLog1{
  margin-top: 20px;
  font-size: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: left;

}

#editForm{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px;
  padding-top: 0px;
  background-color: rgb(207, 207, 207);
  border-radius: 5px;
}

#genLog1 label{
  margin-right: 15px;
  margin-bottom: 10px;
  margin-top: 20px;
}

#genLog1 button{
  margin-top: 15px;
}

a{
  color: #fff !important;
  font-size: 17px !important;
}

#table{
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

#table table{
  border: groove;
  color: #6f42c1;
  text-align: center;
}

.navbar {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar-custom, .navbar-custom3{
  background-color: #5F53CF;
  display: flex;
  justify-content:space-between;
  padding-left: 35px;
  padding-top: 5px;
  padding-bottom: 10px;
  margin-bottom: 0px !important;
}

.navbar-custom2{
  background-color: #f7f7f7;
  display: flex;
  justify-content:space-between;
  margin-top: 77px;
  padding-left: 35px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.navbar-custom3{
  justify-content: left;
}

.navbar-custom3 a{
  font-size: 20px !important;
}

.navbar-custom img{
  margin-right: 20px;
  width: 60px;
  background-color: #5e2191;
  border-radius: 10px;
}

.navbar-brand{
  padding-left: 23px;
  padding-right: 23px;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition-duration: 0.4s;
}

.navbar-brand2{
  margin-right: 20px;
  padding-left: 18px;
  padding-right: 18px;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #47366b !important;
  text-decoration: none;
  transition-duration: 0.4s;
}



.btn-primary{
  background-color: #5F53CF;
  border-color: #5F53CF;
}

.navbar-brand:hover{
  background-color: #7a70cf;
}

.navbar-brand2:hover{
  background-color: #e2e2e2;
}

.derecha{
  margin-top: 4px;
  margin-bottom: 4px;
}

.active{
  background-color: #7a70cf;
}

.active2{
  background-color: #e2e2e2;
}

form{
  display: flex;
  justify-content: center;
}

.parts{
  margin-left: 50px;
  margin-right: 50px;
}

.alert-danger{
  margin-top: -25px;
}





.part1{
  display: flex;
  justify-content: space-around;
  align-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #eeeeee;
  height: 500px;
  width: 100%;
}

.part1 .img1, .part1 .img2, .part1 .img3, .part1 .img4{
  margin-left: 25px;
  
  width: 25%;
  display:flex;
  justify-content: center;
  align-items: center;
}

.part1 .img4{
  margin-right: 25px;
}

.part1 img{
  width: 300px;
  height: 100%;
}

.lne{
  height: 10px;
  
  background-color: #4653e2;
}

.datosProducto h2{
  font-size: 22px;
}

.datosProducto label{
  font-size: 18px;
}

.datosProducto{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  margin-left: 20px;
}

.datosProducto .aButton{
  display: flex;
  justify-content: center;
  align-items: center;
}

.datosProducto a{
  width: 100px;
  margin-top: 30px;
}

.allProductDetail{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.product{
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}

.datosProducto2{
  display: flex;
  justify-content:space-evenly;
  flex-direction: column;
  align-content: center;
  margin-left: 20px;
}

.datosProducto2 .desc h2{
  font-size: 45px;
}

.datosProducto2 .desc label, .datosProducto2 .precio label, .datosProducto2 .tallas label, .datosProducto2 .tallas .listado label{
  font-size: 25px;
}

.datosProducto2 .tallas .listado label{
  background-color: #7a70cf;
  padding: 7px;
  margin-right: 10px;
  margin-top: 10px;
  color: #fff;
  border-radius: 5px;
}

#currency option img{
  width: 20px;
  height: 20px;
}