extends ../layout 

block content
    h1=title 
    br
    h2 Selecciona la pagina a la que se desea ir
    br
    #opciones 
        a(href='/admin_salesman/sales') Ventas
        br
        a(href='/admin_salesman/inventory') inventario