extends ../layout 

block content
    nav.navbar.mb-4.navbar-custom
      a.navbar-brand(href='/admin_salesman/inventory') Inventario
      a.navbar-brand(href='/admin_salesman/sales') Ventas
    #centerInd
        h1=title 
        br
        h2 Selecciona la pagina a la que se desea ir
    br
    #spreadInd 
        a(href='/admin_salesman/sales') Ventas
        br
        a(href='/admin_salesman/inventory') Inventario