extends ../../layout

block content 
    h1=title 
    br
    a(href='/admin_salesman') Regresar
    br
    a(href='/admin_salesman/inventory/add') Agregar producto
    table.table 
        thead 
            tr 
                th ID
                th Nombre
                th Cantidad en bodega
                th 
        
        tbody 
            tr
                td 
                td 
                td 
                td 
                    a(href = '/admin_salesman/inventory/edit') Editar 