extends ../../layout


block content
    nav.navbar.mb-4.navbar-custom
        .derecha
            a.navbar-brand(href='/admin_salesman/inventory') Inventario
            a.navbar-brand.active(href='/admin_salesman/sales') Ventas
            a.navbar-brand(href='/admin_salesman/sales') Usuarios
        .izquierda 
            a.navbar-brand(href='/login') Cerrar sesión
    nav.navbar.mb-4.navbar-custom2
        .derecha
            a.navbar-brand2(href='/admin_salesman/sales') Mostrar ventas
            a.navbar-brand2.active2(href='/admin_salesman/sales/add') Agregar venta
    #centerInd
        h1=title
        br
    br
    form(action='/admin_salesman/sales/add' method='POST')
        #table
            table.table.table-hover
                    tr 
                        td
                            label(for='nombre') Id del inventario:
                        td
                            input.form-control(type='number' name='id')
                    tr
                        td
                            label(for='vendedor') Vendedor:
                        td
                            select.form-select.text-center(name="selectUsuarios" id="selectUsuarios")
                                each dt in data
                                    option(value=dt.id)=dt.nombre
                    tr
                        td 
                        td
                            input.btn.btn-success(type='submit' value='Agregar venta')
                    