extends ../layout 

block content
    nav.navbar.mb-4.navbar-custom
        .derecha
            a(href='/clientes')
                img(src='../assets/logoC.png')
            a.navbar-brand(href='/clientes') Inicio
            a.navbar-brand(href='/clientes/ropa-hombre') Hombre
            a.navbar-brand(href='/clientes/ropa-mujer') Mujer
            a.navbar-brand(href='/clientes/visit-us') Visítanos
            a.navbar-brand(href='/clientes/about-us') Quiénes somos
        .izquierda 
            a.navbar-brand(href='/login') Iniciar sesión
    br
    br
    #centerInd
        h1=title
    br
    br